* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: #f3f1d6;
}

input {
    font-size: 20px;
}

#drag-drop-area {
    margin-top: 3.5vw;
}

#form-cadastro {
    display: flex;
    flex-direction: column;
    width: 400px;
}

#form-cadastro > form {
    display: flex;
    flex-direction: column;
}

#form-cadastro > form > input {
    height: 40px;
}

#form-cadastro > button {
    background-color: #629051;
    height: 40px;
    width: 100px;
    color: white;
    align-self: center;
}